### Gradle template
.gradle
**/build/
!src/**/build/

### Idea
.idea
.kotlin
.run
!.run/kotlinUpgradeYarnLock.run.xml
!.run/publishToMavenCentral.run.xml
!.run/publishToMavenLocal.run.xml
!.run/test.run.xml
